@charset "UTF-8";
:root {
  --font-family: "Montserrat", serif;
  --second-family: "Crimson Text", serif;
  --bg: #0b1d26;
  --weib: #fff;
  --accent: #fbd784;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1462px;
  margin: 0 auto;
}

.container__secondary {
  max-width: 1400px;
  margin: 0 auto;
}

.subtitle {
  position: relative;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--accent);
  margin-bottom: 32px;
  margin-left: 104px;
}
.subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -107px;
  width: 72px;
  height: 2px;
  background-color: var(--accent);
}

body {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: var(--weib);
  background: rgb(11, 29, 38);
}

.bg {
  position: absolute;
  width: 100%;
  background: rgb(47, 255, 0);
}
.bg__sky {
  position: absolute;
  top: 0;
  left: 0;
}
.bg__sky img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__mountains {
  position: absolute;
  top: 463px;
  left: 0;
}
.bg__mountains img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__floor {
  position: absolute;
  top: 766px;
  left: 0;
}
.bg__floor img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__gradient-bottom {
  position: absolute;
  top: 1220px;
  left: 0;
}
.bg__gradient-bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__gradient-top {
  position: absolute;
  top: 0;
  left: 0;
}
.bg__gradient-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: relative;
  padding-top: 65px;
  margin-bottom: 200px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__list {
  display: flex;
}
.header__link {
  margin-right: 40px;
}
.header__acc {
  display: flex;
}
.header__acc img {
  margin-right: 8px;
}

.main {
  position: relative;
  margin-bottom: 800px;
}
.main__wrapper {
  display: flex;
}
.main__social {
  position: absolute;
  top: 175px;
  left: 140px;
  display: flex;
  transform: rotate(90deg);
}
.main__social p, .main__social a {
  margin-right: 24px;
}
.main__body {
  margin-left: 400px;
}
.main__subtitle {
  margin-bottom: 32px;
}
.main__text-scroll {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.main__text-scroll p {
  margin-right: 16px;
}
.main__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 88px;
  line-height: 114%;
  text-transform: capitalize;
  color: var(--weib);
}

.get-started {
  position: relative;
}
.get-started__item {
  margin-bottom: 200px;
}

.get-started-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-started-item__body {
  max-width: 632px;
  position: relative;
}
.get-started-item__bg {
  position: absolute;
  top: -86px;
  left: -169px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 240px;
  line-height: 100%;
  color: var(--weiß);
  opacity: 0.1;
}
.get-started-item__subtitle {
  margin-bottom: 27px;
}
.get-started-item__title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 64px;
  color: var(--weiß);
  line-height: 100%;
  margin-bottom: 27px;
}
.get-started-item__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: var(--weiß);
}
.get-started-item__btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--accent);
  display: flex;
  align-items: center;
}
.get-started-item__btn p {
  margin-right: 16px;
}
.get-started-item.revers {
  flex-direction: row-reverse;
}